.popup{
    width: 100%;
    background-color: #fff;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    
    padding: 10px 0 30px 0;
    z-index: 10;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    &__row{
        width: 100%;
        height: min-content;
        display: flex;
        align-items: center;
        &_cancel{
            justify-content: end;
            margin: 20px 0 40px 0;
            padding-right: 30px;
        }
        &_swiper{
            margin-top: 15px;
            width: min-content;
        }
        &_color{
            margin: 10px 0;
        }
        &_btn{
            margin-bottom: 70px;
        }
        &_instruction{
           margin: 3px 0;
        }
    }
    &__container{
        width: 65%;
        height: min-content;
        z-index: 20;
        padding: 20px;
        background-color: #fff;

    }
    &__closeBtn{
        width: 50px;
        height: 50px;
        cursor: pointer;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__main{
        width: 100%;
        height: min-content;
        display: flex;
        padding-top: 20px;
        &__left{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__right{
            width: 50%;
            height: 100%;
            padding-left: 20px;
        }
    }
    &__swiper{
        width: 560px;
        height: 560px;
        &__slide{
            width: 100%;
            height: 100%;
            & img{
                width: 100%;
                height: 100%;
            }
            background-color: red;
        }
        &__img{
            width: 60px;
            height: 60px;
            margin: 0 10px;
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__header{
        font-family: 'Montserrat';
        color: #000;
        font-size: 24px;
        font-weight: 600;
    }
    &__text{
        font-family: 'Montserrat';
        font-size: 15px;
        &_margin{
            margin-top: 20px;
        }
        span{
            font-weight: 700;
            font-family: 'Montserrat';
        }
        &_idea{
            margin: 25px 0;
        }
    }
    &__price{
        font-family: 'Montserrat';
        color: #000;
        font-size: 22px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__itemAmount{
        height: 49px;
        border: 1px solid #000;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        margin-top: 20px;
        font-family: 'Montserrat';
        &__symbol{
            display: flex;
            align-items: center;
            width: 15px;
            height: 100%;
            & img{
                width: 15px;
                height: 15px;
            }
            cursor: pointer;
            .popap__itemAmount__minus{
            width: 13px;
            height: 5px;
            }
            .popap__itemAmount__plus{
                width: 15px;
                height: 15px;
            }
        }
    }
    &__basketBtn{
        margin-top: 20px;
        margin-left: 10px;
        height: 49px;
        width: 190px;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        color: #fff;
        background-color: #FB472E;
    }
    &__circle{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
        margin-right: 5px;
    }
}
body{
//  overflow-y: hidden;
}
