.popup {
  width: 100%;
  background-color: #fff;
  height: min-content;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.popup__row {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
}
.popup__row_cancel {
  justify-content: end;
  margin: 20px 0 40px 0;
  padding-right: 30px;
}
.popup__row_swiper {
  margin-top: 15px;
  width: min-content;
}
.popup__row_color {
  margin: 10px 0;
}
.popup__row_btn {
  margin-bottom: 70px;
}
.popup__row_instruction {
  margin: 3px 0;
}
.popup__container {
  width: 65%;
  min-height: 100vh;
  z-index: 20;
  padding: 20px;
  background-color: #fff;
}
.popup__closeBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.popup__closeBtn img {
  width: 100%;
  height: 100%;
}
.popup__main {
  width: 100%;
  height: min-content;
  display: flex;
  padding-top: 20px;
}
.popup__main__left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.popup__main__right {
  width: 50%;
  height: 100%;
  padding-left: 20px;
}
.popup__swiper {
  width: 560px;
  height: 560px;
}
.popup__swiper__slide {
  width: 100%;
  height: 100%;
  background-color: red;
}
.popup__swiper__slide img {
  width: 100%;
  height: 100%;
}
.popup__swiper__img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
.popup__swiper__img img {
  width: 100%;
  height: 100%;
}
.popup__header {
  font-family: "Montserrat";
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.popup__text {
  font-family: "Montserrat";
  font-size: 15px;
}
.popup__text_margin {
  margin-top: 20px;
}
.popup__text span {
  font-weight: 700;
  font-family: "Montserrat";
}
.popup__text_idea {
  margin: 25px 0;
}
.popup__price {
  font-family: "Montserrat";
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
.popup__itemAmount {
  height: 49px;
  border: 1px solid #000;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
  font-family: "Montserrat";
}
.popup__itemAmount__symbol {
  display: flex;
  align-items: center;
  width: 15px;
  height: 100%;
  cursor: pointer;
}
.popup__itemAmount__symbol img {
  width: 15px;
  height: 15px;
}
.popup__itemAmount__symbol .popap__itemAmount__minus {
  width: 13px;
  height: 5px;
}
.popup__itemAmount__symbol .popap__itemAmount__plus {
  width: 15px;
  height: 15px;
}
.popup__basketBtn {
  margin-top: 20px;
  margin-left: 10px;
  height: 49px;
  width: 190px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  color: #fff;
  background-color: #FB472E;
}
.popup__circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 5px;
}