@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import 'src/scss/mixins.scss';
.filter{
    width: 75%;
    height: 50px;
    margin: 100px 0 65px 0;
    display: flex;
    &__item{
        width: 16.6%;
        height: 100%;
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        &__p{
            @include text(20px, #000, 400, 30px);
            font-family: 'Montserrat';
        }
    }
    &__item_active{
        background-color:red;
        p{
            color: #fff;
            font-weight: 600;
        }
    }
}
