@import 'src/scss/mixins.scss';

.header{
    width: 100%;
    height: min-content;
    margin-top: 50px;
    display: flex;
    align-items: center;
    left: 0%;
    z-index: 10;
    transition: 0.7s;
    padding: 0 20px;
    &__left,&__right{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__right{
        justify-content: end
    }
    &__logo{
        position: fixed;
        width: 180px;
        height:150px;
    }
    &__ul{
        position: fixed;
       display: flex;
       &:last-child{
        margin-right: 0px;
       }
    }
    &__li{
        list-style: none;
        margin: 0 10px;
        transition: 0.5s;
        &:hover{
            color: red;
            transition: 0.5s;
        }
        cursor: pointer;
        font-family: 'Montserrat';
        @include text(18px, #fff, 600, 30px);
    }
    
}