@mixin container() {
    width: 1400px;
    height: 100%;
    display: flex;
}
@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin block($height) {
    width: 100%;
    height: $height;
    display: flex;
}
@mixin text($fontSize, $color, $fontWeight, $lineHeight) {
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}